.meatnpotatoes {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-evenly;
  padding-top: 10px;
  row-gap: 40px;
  column-gap: 40px;
  margin: 10px;
  padding-left: 100px;

}
.c1 {
  height: 300px;
}
.c2 {
  height: 300px;
}

.c3 {
  height: 300px;
}
.c4 {

  height: 300px;
}
.c5 {

  height: 300px;
}
.c6 {
  height: 300px;
}

.image1 {
  width: 300px;
  object-fit: contain;
  cursor: pointer;
}

.image2 {
  width: 300px;
  object-fit: contain;
  cursor: pointer;
}

.image3 {
  width: 300px;
  object-fit: contain;
  cursor: pointer;
}

.image4 {
  width: 300px;

  object-fit: fill;
  cursor: pointer;
}

.image5 {
  width: 300px;

  object-fit: fill;
  cursor: pointer;
}

.image6 {
  width: 300px;
  margin-top: 120px;
  object-fit: fill;
  cursor: pointer;
}

.d1 {
  font-size: 20px;
  padding-top: 50px;
  padding-left: 50px;
}

.d2 {
  font-size: 20px;
  padding-top: 110px;
  padding-left: 50px;
}

.d3 {
  font-size: 20px;
  padding-top: 25px;
  padding-left: 50px;
}

.d4 {
  font-size: 20px;
  padding-left: 80px;
}

.d5 {
  font-size: 20px;
  padding-left: 110px;
  padding-top: 50px;
}

.d6 {
  font-size: 20px;
  padding-left: 120px;
  padding-top: 110px;
}
