
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
  background-color: rgb(93, 17, 17);
  padding-right: 10px;
  padding-left: 10px;

}
.home {
  height: 50px;
  background-color: rgb(93, 17, 17);
  width: 100px;
  color: black;
  border-radius: 25px;
  border-style: none;
  font-size: 20px;
  font-weight: 700;
  transition: 1s;
  cursor: pointer;
}

.home:hover {
  background-color: rgb(225, 39, 39);

}
.products {
  height: 50px;
  background-color: rgb(93, 17, 17);
  width: 100px;
  color: black;
  border-radius: 25px;
  border-style: none;
  font-size: 20px;
  font-weight: 700;
  transition: 1s;
  cursor: pointer;
}

.products:hover {
  background-color: rgb(225, 39, 39);
}
.pictures {
  height: 50px;
  background-color: rgb(93, 17, 17);
  width: 100px;
  color: black;
  border-radius: 25px;
  border-style: none;
  font-size: 20px;
  font-weight: 700;
  transition: 1s;
  cursor: pointer;
}

.pictures:hover {
  background-color: rgb(225, 39, 39);
}
.history {
  height: 50px;
  background-color: rgb(93, 17, 17);
  width: 100px;
  color: black;
  border-radius: 25px;
  border-style: none;
  font-size: 20px;
  font-weight: 700;
  transition: 1s;
  cursor: pointer;
}

.history:hover {
  background-color: rgb(225, 39, 39);
}
.contact {
  height: 50px;
  background-color: rgb(93, 17, 17);
  width: 100px;
  color: black;
  border-radius: 25px;
  border-style: none;
  font-size: 20px;
  font-weight: 700;
  transition: 1s;
  cursor: pointer;
}

.contact:hover {
  background-color: rgb(225, 39, 39);
}